@import url(./variable.css);
body {
  background-color: var(--background-color);
}
.navbar-section {
  background-color: var(--navbar-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow-color);
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app-download {
  background-color: red;
  color: aliceblue;
}
.app-download img {
  width: 150px;
  margin-left: 10px;
}
p {
  font-size: 17px;
}
a {
  text-decoration: none;
}
.logo-img {
  width: 100px;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 45%;
}
.newsbar {
  box-shadow: var(--box-shadow-color);
  background-color: var(--container-color);
  color: var(--text-color);
}
.sidebar-section {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 20%;
}
.darkmode #dark {
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}
.footer {
  background-color: var(--footer-color);
  text-align: center;
  padding: 15px;
  box-shadow: var(--box-shadow-color);
}
.footer i {
  font-size: 35px;
  margin: 10px;
  color: red;
}
.footer p {
  letter-spacing: 2px;
  opacity: 0.8;
  color: var(--text-color);
}
.footer h2 {
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--text-color);
}
.footer .fa-phone {
  font-size: 30px;
}
li:hover {
  background-color: var(--li-color);
}
input[type="search"]:focus {
  border-color: rgba(255, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(218, 204, 204, 0.895) inset, 0 0 8px rgb(255, 0, 0);
  outline: 0 none;
}
.openS {
  color: var(--text-color);
  border: 3px solid var(--text-color);
  background-color: var(--navbar-color);
  border-radius: 5px;
  font-size: 20px;
}
.openS:hover{
  box-shadow: var(--box-shadow-color);
}